.dashboard-drawer-container {
  height: 100vh;
  background-color: rgba(0, 5, 29, 0.563);
}

.sidenav-content {
  // display: flex;
  // height: 100%;
  // align-items: center;
  // justify-content: center;
}

// TOOLBAR
.sidenav-container {
  padding: 20px;
}
.toolbar-container {
  margin: auto;
}
.toolbar-container-main {
  padding: 1rem;
}
.students-container {
display: flex;
}