
.students-table-container{
padding: 1rem;
}

.data-table-container{
    padding: 1rem;

h1 {
    color: white;
    font-weight: 500 ;
}
p{
    color: white;
    font-weight: 500 ;
}
.meta-data {
    width: auto;
    height: 4rem;
    background-color: white;
}


}