
<app-students-table
  class="students-table-container"
  [dataSource]="(students$ | async) || []"
  (editStudent)="onEditStudent($event)"
  (deleteStudent)="onDeleteStudent($event)"
>
</app-students-table>
<div *ngFor="let student of students$ | async">
  <!-- Muestra datos de estudiantes -->
</div>
<div class="data-table-container">
  <h1>ESTUDIANTES</h1>
  <p>TOTAL DE ESTUDIANTES:</p>
  <div class="info-box">
    <div class="meta-data">{{ (students$ | async)?.length }}</div>
  </div>
  <p>PROMEDIO DE ALGO</p>
  <div class="info-box">
    <div class="meta-data">100%</div>
  </div>
  
  <br />
  <button (click)="openStudentsDialog()" mat-flat-button color="primary">
    <mat-icon>add</mat-icon>
    Añadir Nuevo
  </button>
</div>


