<div class="button-lista-container">
  <button class="button-lista" (click)="toggleLista()">
    {{ mostrarLista ? "Ocultar Lista" : "Mostrar Lista" }}
  </button>
</div>

<div *ngIf="mostrarLista">
  <ul class="lista" *ngFor="let alumno of alumnos">
    <li>{{ alumno.nombre | uppercase }} {{ alumno.apellido | uppercase }} </li>
    <li>Fecha de nacimiento:{{ alumno.nacimiento | date:'dd/MM/yyyy' }}</li>
    <li>Ausencias: {{ alumno.ausencias }}</li>
    <li>Notapromedio: {{ alumno.notapromedio | number:'1.2-2' }}</li>
    <li [ngClass]="alumno.calificacion ? 'aprobado' : 'desaprobado'">
        <h3 [style.border]="alumno.calificacion ? 'solid 2px green' : 'solid 2px red'">
        {{ alumno.calificacion ? "APROBADO" : "DESAPROBADO" }}
        </h3>
    </li>
  </ul>
</div>

<!-- <div [ngClass]=" alumno.calificacion ? 'error' : 'success' "></div> -->
<!-- <div [style.font-size]=" alumno.calificacion ? 'error' : 'success' "></div> -->
