.example-container {
    height: 90%;
}

.example-sidenav{
    max-width: 200px;
}

.example-sidenav-content {
    background-color: rgba(0, 5, 29, 0.586);
    min-height: 94.5%;
    max-height: 94.5%;
    padding: 1em 3em;
}