<!-- TOOLBAR -->
<mat-toolbar class="toolbar-menu-container" color="primary">

    <button
      (click)="toggleSidebar.emit()"
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>

<h2>SIU Classical Criature School</h2>

    <button
      mat-icon-button
      class="person-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>person</mat-icon>
    </button>

</mat-toolbar>
<!-- TOOLBAR -->
