<div class="wrapper-container">
  <p>wrapper works!</p>
  <div class="titles-container">
    <h2>Titulo1</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium
      soluta magnam praesentium repudiandae est quam perferendis modi facere
      quidem adipisci dolore fugiat expedita suscipit, quisquam officiis cumque
      cupiditate id?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla accusantium
      soluta magnam praesentium repudiandae est quam perferendis modi facere
      quidem adipisci dolore fugiat expedita suscipit, quisquam officiis cumque
      cupiditate id?
    </p>
    <h2>Titulo2</h2>
    <ul>
        <li>cosa1</li>
        <li>cosa2</li>
        <li>cosa3</li>
        <li>cosa4</li>
    </ul>
  </div>
</div>
