.printvalues {
    width: 250px;
    height: 350px;
background-color: rgb(77, 77, 77);
color: white;
}


.login-container {
    padding: 1rem;
    background-color: rgba(201, 201, 201, 0.911);
    border-radius: 5%;
    font-family: 'Courier New', Courier, monospace;
}

.printvalues-container {
padding: 2rem 6rem;
background-color: rgba(5, 5, 5, 0.911);
color: white;
}