<div>
    <button mat-stroked-button 
        routerLink="home">
        INICIO
    </button>

    <button mat-stroked-button 
        routerLink="students">
        ESTUDIANTES
    </button>

    <button mat-stroked-button 
        routerLink="courses">
        CURSOS
    </button>

    <button mat-stroked-button 
        routerLink="enroll">
        INSCRIPCIONES
    </button>
</div>

    <button mat-stroked-button 
        routerLink="users"
        class="usersBtn">
        USUARIOS
    </button>