.footer-container {
    height: 100px;
    display: flex;
    background-color: #2B3035;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    .columna1 {
    
    background-color: #2B3035;
    }

}