
<div class="home-container">

    <div class="header">
      <h1>Bienvenido al SIU de la Escuela de Criaturas Clásicas</h1>
      <p>¡Donde la magia y la oscuridad y el papeleo se encuentran!</p>
    </div>
  
    <div class="content">
  
      <div class="school-description">
        <p>
          En nuestra prestigiosa escuela, damos la bienvenida a criaturas mágicas de todas partes del mundo.
          Aprenderás habilidades únicas, te sumergirás en las artes oscuras y conocerás seres místicos de la mano de
          nuestros experimentados profesores.
        </p>
        <p>
          Desde clases de vuelo para vampiros hasta cuidado de acromántulas, aquí encontrarás el lugar perfecto
          para desarrollar tus habilidades sobrenaturales.
        </p>
      </div>

      <div class="school-image">
        <img src="../../../../assets/img/magicriature.jpg" alt="Escuela de Criaturas Clásicas" >
      </div>
  
    </div>
  
  </div>
  