<mat-drawer-container class="example-container" autosize>
    <!-- <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button color="accent" (click)="showFiller = !showFiller" mat-raised-button >
        Toggle extra text
      </button>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <button color="primary" type="button" mat-button (click)="drawer.toggle()" mat-stroked-button	>
        Toggle sidenav
      </button>
    </div> -->

<app-students></app-students>
<app-forms></app-forms>
  </mat-drawer-container>
  