
.lista-de-alumnos {
    background-color: red;
    }
.navbar-title {
    background-color: rgb(224, 228, 6);
}
.right-section {
    background-color: blue;
}

.footer {
    display: block;
    bottom :0px;
    width: 100%;
    }